<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposito</title>
    <link rel="stylesheet" href="estiloDeposito.css">

</head>
<body>
    <nav class="navbar">
        <div class="containerNav">
          <a href="C:\Users\pelac\OneDrive\Documentos\Estudos\Programação para Web\Aula 10\src\views\principal\menuPrincipal.html" class="navbar-logo">AMIGOSBANK</a>
          <ul class="navbar-menu">
            <li><a href="./views/pessoa/cadastrar.html">Registrar</a></li>
            <li><a href="./views/contaCorrente/login.html">Login</a></li>
          </ul>
        </div>
      </nav>

    <h1>Extrato de pagamento</h1>
    <nav>
        <ul class="deposit-list">
            <li class="deposit-pago">
                <span class="pagamento-recebido">Pagamento recebido</span>
                <span class="data-deposito">25 de junho de 2023</span>
                <br>
                <br>
                <span class="valor-recebido">   - R$35,00  |  BigBox Águas Claras Ltda.</span>
                <br>
                <span class="valor-recebido">   - R$50,00  |  Pão Dourado Ltda.</span>
                <br>
                <br>
                <span class="valor-total">   R$85,00</span>
            </li>
            <li class="deposit-pago">
              <span class="pagamento-recebido">Pagamento recebido</span>
              <span class="data-deposito">17 de junho de 2023</span>
              <br>
              <br>
              <span class="valor-recebido">   - R$90,00  |  SuplementosArisson Ltda.</span>
              <br>
              <span class="valor-recebido">   - R$10,00  |  Amazom.com</span>
              <br>
              <span class="valor-recebido">   - R$32,00  |  Amazom.com</span>
              <br>
              <br>
              <span class="valor-total">   R$132,00</span>
          </li>
          <li class="deposit-nao-pago">
              <span class="pagamento-recebido">Pagamento não recebido</span>
              <span class="data-deposito">11 de junho de 2023</span>
              <br>
              <br>
              <span class="valor-recebido">   - R$129,00  |  Smartfit Ltda.</span>
              <br>
              <br>
              <span class="valor-total">   R$129,00</span>
          </li>
          <li class="deposit-pago">
              <span class="pagamento-recebido">Pagamento recebido</span>
              <span class="data-deposito">2 de junho de 2023</span>
              <br>
              <br>
              <span class="valor-recebido">   - R$12,00  |  Pão Dourado Ltda.</span>
              <br>
              <br>
              <span class="valor-total">   R$12,00</span>
          </li>

        </ul>
    </nav>

    <footer>
      &copy; 2023 Bank. Todos os direitos reservados.
    </footer>
</body>
</html>
