<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link rel="stylesheet" href="estiloindex.css">

</head>
<body>      
      <nav class="navbar">
        <div class="containerNav">
          <a href="src\views\principal\index.html" class="navbar-logo">BANK</a>
          <ul class="navbar-menu">
            <li><a href="./views/pessoa/cadastrar.html">Registrar</a></li>
            <li><a href="./views/contaCorrente/login.html">Login</a></li>
          </ul>
        </div>
      </nav>

      <nav>
        <ul class="navbar-tela">
          <li><a href="./SelecionarConta.html">Minha Conta</a></li>
          <li><a href="views/movimento/transferencia.html">Transferências</a></li>
          <li><a href="#">Sair</a></li>
        </ul>
      </nav>
      
      <footer>
        &copy; 2023 Bank. Todos os direitos reservados.
      </footer>

</body>
</html>

