<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Deletar Pessoa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container mt-5">

        {{#erro}}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert">.</button>
            <strong>{{erro}}</strong> não foi possível deletar o cadastro
        </div>
        {{/erro}}

        <h1>Deletar pessoa?</h1>

        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>data_nascimento</th>
                            <th>telefone</th>
                            <th>endereco</th>
                            <th>cep</th>
                            <th>deletar</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {{#pessoas}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{nome}}
                            <td>{{cpf}}</td>
                            <td>{{data_nascimento}}</td>
                            <td>{{telefone}}</td>
                            <td>{{endereco}}</td>
                            <td>{{cep}}</td>
                        </tr>
                        {{/pessoas}}
                    </tbody>
                </table>
            </div>
            <form method="post" action="/pessoa/deletar">
                <input type="hidden" value="{{pessoa.id}}" id="id" name="id">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" value="Confirmar">
                    </div>
                </div>
            </form>
        </div>

    </div>

</body>

</html>